* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.random {
  height: 100vh;
}
.target {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #f00;
  position: relative;
  transition: 2s;
  transition-timing-function: linear;
}
.box {
  height: 100px;
  width: 100px;
  border: solid 3px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trash {
  position: absolute;
  top: 1%;
  right: 1%;
  height: 70px;
  width: 50px;
  background: #000;

}
.game .background {
  position: absolute;
}
.game .background img {
  height: 100vh;
  width: 100vw;
  filter: brightness(.5);
}
.game .nav {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 20px;
}
.game .nav img {
  height: 100px;
  width: 100px;
  border: solid 2px #f00;
  cursor: pointer;
}
.game .scenarios {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game .scenarios .character img {
  height: 300px;
}
.game .scenarios .text {
  color: #fff;
}