* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.random {
  height: 100vh;
}
.target {
  position: relative;
  transition: 2s;
  transition-timing-function: linear;
}
.box {
  height: 100px;
  width: 100px;
  border: solid 3px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trash {
  position: absolute;
  top: 1%;
  right: 1%;
  height: 70px;
  width: 50px;
  background: #000;

}
.game .background {
  position: absolute;
}
.game .background img {
  height: 100vh;
  width: 100vw;
  filter: brightness(.5);
}
.game .nav {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 20px;
}
.game .nav img {
  height: 100px;
  width: 100px;
  border: solid 2px #f00;
  cursor: pointer;
}
.game .scenarios {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game .scenarios .character img {
  height: 300px;
}
.game .scenarios .text {
  color: #fff;
}
.game .animal {
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 5%;
  transition: .5s;
  animation: animal 2s ease-in-out;
  cursor: pointer;
}
.game .animal img {
  height: 300px;
}
.game .animal:hover {
  filter: drop-shadow(0px 10px 3px #fff);
}
@keyframes animal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.game .score {
  position: absolute;
  right: 0;
  z-index: 100;
}
.choices {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
}
.choices .choice {
  text-align: center;
  border: solid 1px #000;
  padding: 20px;
  width: 30vw;
  cursor: pointer;
}
.game .hagrid {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0, -100%);
  z-index: 5;
}
.game .hagrid img {
  cursor: pointer;
  height: 300px;
}