* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Cairo;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    cursor: url(img/wand.png), auto;
}
@font-face {
    font-family: Cairo;
    src: url(../public/fonts/Cairo-Regular.ttf);
}
body {
    overflow: hidden;
    background: #000;
}
.frame .background {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.frame .text {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    gap: 30px;
    width: 50%;
    margin: auto;
    background: url(img/background.png);
    border-radius: 200px;
    box-shadow: 0 0 20px #fff;
    color: #fff;
}
.frame .text .character {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}
.frame .text .character img {
    padding: 10px;
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    outline: solid 2px #fff;
    outline-offset: -10px;
}
.frame .text .scenario {
    flex-grow: 9;
    padding: 20px;
}
@keyframes img {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.frame .text .scenario .name {
    margin-bottom: 20px;
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play-icon img {
    height: 100px;
    animation: play 2s ease-in-out infinite;
}
@keyframes play {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
    background: url(img/background.png); 
}
.question h3 {
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
}
.question .choose {
    display: flex;
    gap: 10px;
}
.question .answer {
    height: 200px;
    width: 150px;
    background: url(img/background.png);
    border-radius: 5px;
    border: solid 1px #fff;
    box-shadow: 0 0 20px #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
    transition: .5s;
    text-align: center;
}
.question .answer:hover {
    transform: scale(1.2);
}
@media (max-width: 1400px) {
    .frame .text {
        width: 80%;
    }
}
.random {
    height: 100vh;
    position: relative;
}
.target {
    position: absolute;
    transition: 1s;
    transition-timing-function: linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.target img {
    height: 300px;
}
.score progress {
    width: 400px;
    height: 35px;
    margin: 10px;
    border: solid 5px rgb(0, 0, 0, .7);
    background: rgb(24, 119, 242);
    color: rgb(24, 119, 242);
}
progress::-moz-progress-bar,
progress::-webkit-progress-value {
    background: rgb(24, 119, 242);
}
progress::-moz-progress-bar { background: rgb(24, 119, 242) }
progress::-webkit-progress-value { background: rgb(24, 119, 242) }

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 50px 100px;
    border-radius: 10px;
    background: url(img/background.png);
}
.game-over button {
    margin-top: 20px;
    font-size: 1.3rem;
    background: #fff;
    padding: 10px 30px;
    color: #000;
    font-weight: 700;
    border: solid 2px #fff;
    transition: .5s;
}
.game-over button:hover {
    color: #fff;
    background: none;
}

@media (max-width: 768px) {
    .question {
        width: 80vw;
        padding: 20px;
    }
    .frame .text {
        width: 100%;
        bottom: 0;
        border-radius: 0;
    }
    .question .choose {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .question .answer {
        flex: 0 45%;
    }
    .game-over {
        width: 80%;
        padding: 50px;
    }
}
.dialog {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.start-from {
    position: absolute;
    top: 2%;
    left: 2%;
}
.start-from button {
    padding: 10px 30px;
    font-weight: 700;
}